
<<<<<<< HEAD
body
{
background-image: url('tempe3.jpeg');
=======
body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
>>>>>>> 8f7cbc0eb5212082685430b813f16a3c11691b87
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

<<<<<<< HEAD
.container
{
=======
.container{
>>>>>>> 8f7cbc0eb5212082685430b813f16a3c11691b87
height: 100%;
align-content: center;
}

<<<<<<< HEAD
.card
{
=======
.card{
>>>>>>> 8f7cbc0eb5212082685430b813f16a3c11691b87
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
<<<<<<< HEAD
background-color: rgba(0,0,0,0.5);
}

.social_icon span
{
=======
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
>>>>>>> 8f7cbc0eb5212082685430b813f16a3c11691b87
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

<<<<<<< HEAD
.social_icon span:hover
{
=======
.social_icon span:hover{
>>>>>>> 8f7cbc0eb5212082685430b813f16a3c11691b87
color: white;
cursor: pointer;
}

<<<<<<< HEAD
.card-header h3
{
color: white;
}

.social_icon
{
=======
.card-header h3{
color: white;
}

.social_icon{
>>>>>>> 8f7cbc0eb5212082685430b813f16a3c11691b87
position: absolute;
right: 20px;
top: -45px;
}

<<<<<<< HEAD
.input-group-prepend span
{
width: 50px;
background-color: #FFC312;
color: black;
border:0;
}

input:focus
{
outline: 0 0 0 0;
box-shadow: 0 0 0 0;

}

.remember
{
=======
.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
>>>>>>> 8f7cbc0eb5212082685430b813f16a3c11691b87
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

<<<<<<< HEAD
.login_btn
{
=======
.login_btn{
>>>>>>> 8f7cbc0eb5212082685430b813f16a3c11691b87
color: black;
background-color: #FFC312;
width: 100px;
}

<<<<<<< HEAD
.login_btn:hover
{
=======
.login_btn:hover{
>>>>>>> 8f7cbc0eb5212082685430b813f16a3c11691b87
color: black;
background-color: white;
}

<<<<<<< HEAD
.links
{
color: white;
}

.links a
{
margin-left: 4px;
}
.centro h4
{
text-align: center;
=======
.links{
color: white;
}

.links a{
margin-left: 4px;
>>>>>>> 8f7cbc0eb5212082685430b813f16a3c11691b87
}